
$accent-color: var(--accent-color);
$border-color: var(--border-color);
$title-color: var(--title-color);
$title-background: var(--title-background);
$light-background: var(--light-background);
$hover-color: var(--hover-color);


